.sidebar-container {
  position: relative;
  z-index: 1;
  margin-right: auto;
  width: 396px;
  padding: 80px 48px; }
  .sidebar-container > .sidebar {
    background-color: #101010;
    min-height: 100%;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 32px;
    box-sizing: border-box; }

canvas.fill-parent {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
