.top-bar > .content {
  max-width: 492px; }

.sidebar-container {
  position: relative;
  z-index: 1;
  margin-right: auto;
  max-width: 492px;
  width: 100%;
  padding: 80px 48px;
  box-sizing: border-box;
  transition: transform ease-out 0.33s; }
  .sidebar-container.hidden {
    transform: translateX(-100%);
    transition-timing-function: ease-in; }
  .sidebar-container > .up-indicator {
    display: none;
    text-align: center; }
  .sidebar-container > .sidebar {
    background-color: rgba(16, 16, 16, 0.75);
    min-height: 100%;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    overflow: hidden; }
    .sidebar-container > .sidebar > .header {
      display: flex;
      flex-direction: row;
      margin: 32px 24px;
      margin-bottom: 16px;
      font-size: 0;
      align-items: center; }
      .sidebar-container > .sidebar > .header > h1 {
        margin-bottom: 0;
        flex-grow: 1;
        /*margin-left: 8px;*/
        text-align: center; }

.canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

@media only screen and (max-width: 984px) {
  .top-bar {
    display: block; }
  .sidebar-container {
    padding-top: calc(100vh - 104px);
    padding-left: 16px;
    padding-right: 16px;
    margin: auto; }
    .sidebar-container.hidden {
      transform: translateY(100%); }
    .sidebar-container > .up-indicator {
      display: block; }
    .sidebar-container > .sidebar {
      padding-top: 24px; }
      .sidebar-container > .sidebar > h1 > .btn-icon {
        display: none; } }

.tabs {
  display: flex;
  flex-direction: row;
  padding: 0 32px; }
  .tabs > button {
    background: none;
    border: none;
    position: relative;
    color: rgba(255, 255, 255, 0.65);
    flex-grow: 1;
    padding: 12px 0;
    text-align: center;
    padding-bottom: 12px;
    margin-bottom: 4px;
    outline: none;
    cursor: pointer;
    transition: background-color ease-in-out 0.1s;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-family: "Oxygen", "sans-serif";
    font-size: 1rem; }
    .tabs > button:after {
      content: "";
      background-color: rgba(255, 255, 255, 0.9);
      height: 4px;
      width: 100%;
      position: absolute;
      bottom: -4px;
      left: 0;
      right: 0;
      transition: transform ease-in-out 0.33s;
      transform: scaleX(0); }
    .tabs > button:first-child:after {
      transform-origin: right; }
    .tabs > button:last-child:after {
      transform-origin: left; }
    .tabs > button:hover {
      background-color: rgba(255, 255, 255, 0.08); }
    .tabs > button.active {
      color: rgba(255, 255, 255, 0.9); }
      .tabs > button.active:after {
        transform: scaleX(1);
        transition-timing-function: ease-in-out; }

.tab-contents-container {
  white-space: nowrap;
  font-size: 0; }
  .tab-contents-container .tab-content {
    display: inline-block;
    transition: transform ease-in-out 0.33s;
    transform: translateX(-100%);
    width: 100%;
    white-space: normal;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 32px;
    vertical-align: top; }
    .tab-contents-container .tab-content.active {
      transform: translateX(0); }
    .tab-contents-container .tab-content + .tab-content {
      transform: translateX(0); }
      .tab-contents-container .tab-content + .tab-content.active {
        transform: translateX(-100%); }

.input-field {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  align-items: center; }
  .input-field > label {
    width: 100%;
    margin-bottom: 4px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.8rem; }
  .input-field input {
    background-color: transparent;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.15);
    font-family: Consolas, monospace;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.65);
    padding: 4px;
    box-sizing: border-box;
    width: 100%; }
    .input-field input[type=number] {
      text-align: right;
      -moz-appearance: none; }
      .input-field input[type=number]::-webkit-outer-spin-button, .input-field input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; }
    .input-field input.modified {
      border-style: dotted;
      border-color: #ffd800; }
  .input-field + .input-field {
    margin-top: 8px; }

.double-field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 32px 0; }
  .double-field > label {
    display: block;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.65);
    /*font-weight: bold;*/
    margin-bottom: 8px;
    flex-basis: 100%; }
  .double-field > .input-field {
    margin: 0;
    flex: 1; }
    .double-field > .input-field:first-child {
      margin-right: 16px; }
    .double-field > .input-field:last-child {
      margin-left: 16px; }
