@import "../shared/vars.scss";

$sidebar-padding: 32px;
$sidebar-container-max-width: $page-sidebar-max-width + $page-grid-col-spacing * 4;

.top-bar {
    > .content {
        max-width: $sidebar-container-max-width;
    }
}

.sidebar-container {
    position: relative;
    z-index: 1;
    margin-right: auto;
    max-width: $sidebar-container-max-width;
    width: 100%;
    padding: $page-vert-spacing $page-grid-col-spacing;
    box-sizing: border-box;
    transition: transform ease-out 0.33s;

    &.hidden {
        transform: translateX(-100%);
        transition-timing-function: ease-in;
    }

    > .up-indicator {
        display: none;
        text-align: center;
    }

    > .sidebar {
        background-color: rgba($c-bg, 0.75);
        min-height: 100%;
        width: 100%;
        border: 1px solid $c-border-sec;
        box-sizing: border-box;
        overflow: hidden;

        > .header {
            display: flex;
            flex-direction: row;
            margin: $sidebar-padding $sidebar-padding - 8px;
            margin-bottom: 16px;
            font-size: 0;
            align-items: center;

            > h1 {
                margin-bottom: 0;
                flex-grow: 1;
                /*margin-left: 8px;*/
                text-align: center;
            }
        }
    }
}

.canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@media only screen and (max-width: $sidebar-container-max-width * 2) {

    .top-bar {
        display: block;
    }

    .sidebar-container {
        padding-top: calc(100vh - 104px);
        padding-left: 16px;
        padding-right: 16px;
        margin: auto;

        &.hidden {
            transform: translateY(100%);
        }

        > .up-indicator {
            display: block;
        }

        > .sidebar {
            padding-top: 24px;

            > h1 > .btn-icon {
                display: none;
            }
        }
    }
}


$tab-indicator-width: 4px;
$tab-padding-vert: 12px;
$tab-corner-radius: 8px;

.tabs {
    display: flex;
    flex-direction: row;
    padding: 0 $sidebar-padding;

    > button {
        background: none;
        border: none;
        position: relative;
        color: $c-text-lght-sec;
        flex-grow: 1;
        padding: $tab-padding-vert 0;
        text-align: center;
        padding-bottom: $tab-padding-vert;
        margin-bottom: $tab-indicator-width;
        outline: none;
        cursor: pointer;
        transition: background-color ease-in-out 0.1s;
        border-top-left-radius: $tab-corner-radius;
        border-top-right-radius: $tab-corner-radius;
        font-family: $font-family-body;
        font-size: $font-size-body;

        &:after {
            content: "";
            background-color: $c-border-pri;
            height: $tab-indicator-width;
            width: 100%;
            position: absolute;
            bottom: -$tab-indicator-width;
            left: 0;
            right: 0;
            transition: transform ease-in-out 0.33s;
            transform: scaleX(0);
        }

        &:first-child {
            &:after {
                transform-origin: right;
            }
        }

        &:last-child {
            &:after {
                transform-origin: left;
            }
        }

        &:hover {
            background-color: $c-hover-bg;
        }

        &.active {
            color: $c-text-lght-pri;

            &:after {
                transform: scaleX(1);
                transition-timing-function: ease-in-out;
            }
        }
    }
}

.tab-contents-container {
    white-space: nowrap;
    font-size: 0;

    .tab-content {
        display: inline-block;
        transition: transform ease-in-out 0.33s;
        transform: translateX(-100%);
        width: 100%;
        white-space: normal;
        font-size: $font-size-body;
        box-sizing: border-box;
        padding: $sidebar-padding;
        vertical-align: top;

        &.active {
            transform: translateX(0);
        }

        + .tab-content {
            transform: translateX(0);

            &.active {
                transform: translateX(-100%);
            }
        }
    }
}


.input-field {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    align-items: center;

    > label {
        width: 100%;
        margin-bottom: 4px;
        color: $c-text-lght-tet;
        font-size: $font-size-sec;
    }

    input {
        background-color: transparent;
        background: none;
        border: 1px solid $c-border-sec;
        font-family: Consolas, monospace;
        font-size: $font-size-body;
        color: $c-text-lght-sec;
        padding: 4px;
        box-sizing: border-box;
        width: 100%;

        &[type=number] {
            text-align: right;
            -moz-appearance: none;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        &[type=color] {
            padding: 0;
            height: 28px;

            &::-webkit-color-swatch-wrapper {
                padding: 4px;
            }

            &::-webkit-color-swatch {
                display: inline-block;
                border: none;
                border-radius: 4px;
            }
        }

        &.modified {
            border-style: dotted;
            border-color: $c-accent;
        }
    }

    + .input-field {
        margin-top: 8px;
    }
}

.double-field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 32px 0;

    > label {
        display: block;
        font-size: $font-size-body;
        color: $c-text-lght-sec;
        /*font-weight: bold;*/
        margin-bottom: 8px;
        flex-basis: 100%;
    }

    > .input-field {
        margin: 0;
        flex: 1;
        $spacing: 16px;

        &:first-child {
            margin-right: $spacing;
        }

        &:last-child {
            margin-left: $spacing;
        }
    }
}
