@import "../shared/vars.scss";

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

//
// DEFAULT ELEMENT STYLING
//

html {
    background-color: $c-bg;
    color: $c-text-lght-sec;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

body {
    font-family: $font-family-body;
    font-size: $font-size-body;
}

* {
    -webkit-tap-highlight-color: transparent;
}


h1 {
    /* jumbo heading on top of entire page */
    font-size: $font-size-jumbo;
    font-family: $font-family-heading;
    color: $c-text-lght-pri;
    margin-top: 0;

    > .btn-icon {
        margin-bottom: 8px;
        margin-left: -8px;
    }
}

h2 {
    /* section headers */
    font-size: $font-size-heading;
    color: $c-text-lght-pri;
    margin-top: 0;
}

p {
    line-height: 1.5;
    letter-spacing: 0.4px;
}

p + p, p + .paragraph, .paragraph + p, .paragraph + .paragraph {
    margin-top: 32px;
}

section {
    + section {
        margin-top: $section-spacing;
    }
}

code {
    display: inline-block;
    padding: 2px 4px;
    vertical-align: bottom;
    margin: 0 2px;
    border: 1px solid $c-border-sec;
    border-radius: 4px;
}

// img icon
.icon {
    display: inline-block;
    filter: invert(1);
    width: $icon-size;
    height: $icon-size;
    opacity: 0.6;
}


//
// WEBKIT SCROLLBAR
//

::-webkit-scrollbar {
    background-color: black;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(#fff, 0.15);
    border-radius: 16px;
    border: 2px solid black;
    transition: background-color ease-in-out 0.1s;

    &:hover {
        background-color: rgba(#fff, 0.2);
    }
}


//
// TOP BAR
//

.top-bar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    border-bottom: 1px solid $c-border-sec;
    background-color: rgba($c-bg, 0.75);
    transition: transform ease-in-out 0.33s;

    > .content {
        max-width: $page-content-max-width;
        padding: 8px $page-padding;
        margin: auto;
        box-sizing: border-box;
    }

    &.hidden {
        transform: translateY(-100%);
        transition-timing-function: ease-out;
    }
}

//
// BUTTONS
//

.btn {
    $btn-actual-height: $btn-height + $btn-border-width * 2;
    display: inline-block;
    box-sizing: border-box;
    height: $btn-actual-height;
    line-height: $btn-height;
    padding: 0 32px;
    color: $c-text-lght-pri;
    border-radius: 8px;
    border: $btn-border-width solid $c-border-pri;
    margin: 8px;
    cursor: pointer;
    font-weight: normal;
    user-select: none;
    text-decoration: none;
    transition: transform ease-in-out 0.1s, background-color linear 0.1s;
    background: none;
    font-family: $font-family-body;
    font-size: $font-size-body;
    outline: none;

    &:hover {
        transform: scale(1.02);
        /*background-color: rgba(#fff, 0.05);*/
    }

    &:active, &.flat:hover:active {
        transform: scale(0.98);
        transition-timing-function: ease-out;
        background-color: #000;
    }

    .icon {
        margin-right: 8px;
        margin-top: ($btn-height - $icon-size) / 2;
        margin-bottom: ($btn-height - $icon-size) / 2;
        vertical-align: top;
        opacity: 0.9;

        &.right {
            margin-left: 8px;
            margin-right: 0;
        }
    }

    &.flat {
        border: none;

        &:hover {
            background-color: $c-hover-bg;
            transform: none;
        }
    }
}

.btn-icon {
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    margin: 0;
    cursor: pointer;
    width: $btn-icon-size;
    height: $btn-icon-size;
    line-height: $btn-icon-size;
    padding: ($btn-icon-size - $icon-size)/2;
    font-size: 0;
    text-align: center;
    vertical-align: middle;
    outline: none;
    box-sizing: border-box;
    /*.icon {
        vertical-align: middle;
    }*/
    &:after {
        content: "";
        position: absolute;
        background-color: $c-hover-bg;
        border-radius: $btn-icon-size;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scale(0);
        transition: transform ease-in-out 0.1s;
    }

    &:hover:after {
        transform: scale(1);
    }
}


//
// MISC CLASSES
//

canvas.fill-parent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bullet {
    padding: 0 4px;

    &:after {
        content: "•";
    }
}

@mixin text-align($name) {
    .text-#{$name} {
        text-align: $name;
    }
}

@include text-align(left);
@include text-align(center);
@include text-align(right);
